* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../images/fondo4.jpg') no-repeat center center fixed ;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: -1;

}
section{
    background-color: grey;
    margin: 40px;
    padding: 35px;
    border-radius: 20px;
    text-align: justify;
}
h1{
    font-size: 3.5em;
    text-align: center;
}
h2{
    font-size:1.5em;
}