* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    section{
        padding: 50px 100px;    
    }
    header {
        position: fixed;
        width: 100%;
        height: 110px;
        color: #ffffff;
        text-align: justify;
        padding: 2rem 9%;
        z-index: 9999;
        background-color: rgba(255, 255, 255, 0.5);
        top: 0;
    }
    header nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 20px;
        height: 100%;
        margin: 20px;
        margin-top: 30px;
        text-align: right;
    }
    header .nombre .logo {
        border: 2px;
        border-radius: 5%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 40px;
        margin-top: 15px;
        margin-left: 60px;
        color:#fff;
        font-size: xx-large;
    }
    header nav .boton {
        position: relative;
        font-size: 1.1em;
        margin-right: 15px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        transition: .6s;
    }
    header nav .boton::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background: #000000;
        border-radius: 5px;
        transform: scaleX(0);
        transition: transform .5s;
    }
    header nav .boton:hover::after {
        transform: scaleX(1);
    
    }
    #login {
        width: 150px;
        height: 55px;
        padding: 10px 40px;
        color: #000000;
        background: none;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 50px;
        transition: .5s;
    }
    header nav .register {
        width: 90px;
        height: 55px;
        color: #000000;
        background: none;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 50px;
        transition: .5s;
    }
    #login:hover {
        background: #000000;
        color: rgb(255, 255, 255);
    
    }
    header nav .register:hover {
        background: #000000;
        color: rgb(255, 255, 255);
    
    } 
    body{
        background-color: #000000;
        margin: 0;
        padding: 0;
    }
    body .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url('../images/fondo4.jpg') no-repeat center center fixed ;
        background-size: cover;
        background-position: center;
        opacity: 0.9;
        z-index: -1;
    
    }
    .container{
        color: #ffffff;
        display: grid;
        grid-auto-rows: max-content;
        align-content: center;
        gap: 1em;
        padding-bottom: 100px;
        text-align: center;
        margin-top: 250px;
        height: 90vh;
        position: absolute;
    }
    .hero_titulo{
        font-size: 4rem;
    }
    .hero_paragrafo{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .una {
        left: 2px;
    }
    .where{
        width: 100%;
        min-height: 100vh;
        background: url(../images/fondo_home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
        align-items: center;
        gap: 1.5rem;
    }
    .con_where h1{
        font-size: 3.4rem;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        letter-spacing: 1px;
        margin-bottom: 50px;
    }
    .con_where p{
        font-size: 1.934rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: rgb(255, 255, 255);
        margin: 0.5rem 0 1.4rem;
        text-align: justify;
        margin-right: 20px;
    }
    #btn_contacto {
        width: 150px;
        height: 55px;
        padding: 10px 40px;
        color: #ffffff;
        background: none;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 50px;
        transition: .5s;
    }
      
    #btn_contacto:hover {
        background: #000000 !important;
        color: rgb(255, 255, 255) !important;
    }
    .mapa{
        border-radius: 15px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: 300p;
    }
    .proyect{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url('../images/fondo4.jpg') no-repeat center center fixed ;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
    .house1, .house2, .house3{
        width: 33.33%;
        float: left;
        height: 300px;
    }
    .hou1, .hou2, .hou3{
        width: 20vw;
        height: auto;
        margin: 50px;
    }
    .who{
        width: 100vw;
        padding-top: 50px;
        background: rgb(150, 150, 150);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
        align-items: center;
        gap: 1.5rem;
        display: inline-block;
    }
    .con_who{
        display: flex;
        align-items: center;
    }
    .con_who h1{
        font-size: 3.4rem;
        color: #fff;
        margin-bottom: 20px;
        text-align: center;
    }
    .con_who p{
        font-size: 1.534rem;
        color: #fff;
        letter-spacing: 1px;
        text-align: center;
        padding: 30px;
    }
    .column1, .foto_who{
        width: 50%;
        float: left;
    }
    .foto_who{
        justify-items: center;
    }
    .foto{
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }
